<nav class="navbar navbar-light bg-dark " >
    <a class="navbar-brand  " href="#" style="color:rgb(85, 98, 237);"><b>&#169; HAFC Bank Pvt.Ltd </b></a>
    <span class="quote text-light">Giving you freedom...</span>
  </nav>
  <h1 style="color: white;text-align: center;">Transaction History</h1>
  <div class="container">
  <table class="table">
     <thead>
         <tr>
             <th>TYPE</th>
             <th>AMOUNT</th>
         </tr>
     </thead>
     <tbody>
         <tr>
             <th>CREDIT</th>
             <th>1000</th>
         </tr>
         <tr>
             <th>DEBIT</th>
             <th>500</th>
         </tr>
     </tbody>
  </table>
</div>
